body {
      font-family: Arial, sans-serif;
      margin: 0;
      background: #0f172a;
      color: white;
    }

    .container {
      padding: 20px;
    }

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .avatar {
      background: #22c55e;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }

    .card {
      background: linear-gradient(135deg, #1e293b, #020617);
      padding: 20px;
      border-radius: 15px;
      margin-top: 20px;
    }

    .balance {
      font-size: 30px;
      margin: 10px 0;
    }

    .buttons {
      display: flex;
      gap: 10px;
      margin-top: 15px;
    }

    button {
      padding: 10px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background: #22c55e;
      color: black;
      font-weight: bold;
    }

    .section {
      margin-top: 30px;
    }

    .transaction-item {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #334155;
    }

    /* MODAL */
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.7);
      justify-content: center;
      align-items: center;
    }

    .modal-content {
      background: #1e293b;
      padding: 20px;
      border-radius: 10px;
      width: 300px;
    }

    input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: none;
    }