/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  }

/* BODY */
body {
background: #071a12;
padding: 20px;
color: #f5f7f6;
}

/* CONTAINER */
.container {
max-width: 800px;
margin: auto;
}

/* HEADER */
.header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}

/* WELCOME */
#welcome {
color: #d4af37;
}

/* CARD */
.card {
background: #0c2419;
padding: 20px;
border-radius: 14px;
margin-bottom: 15px;
border: 1px solid rgba(212,175,55,0.20);
box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}

/* BALANCE CARD (SPECIAL) */
.balance-card {
background: linear-gradient(135deg, #123526, #d4af37);
color: #071a12;
}

.balance-card h3 {
color: #f1d87a;
}

#balance {
font-size: 28px;
font-weight: bold;
}

/* INPUTS */
input {
width: 100%;
padding: 10px;
margin-top: 8px;
margin-bottom: 10px;
border-radius: 8px;
border: 1px solid rgba(212,175,55,0.20);
background: #123526;
color: #f5f7f6;
}

/* BUTTONS */
button {
width: 100%;
padding: 10px;
border: none;
border-radius: 8px;
background: linear-gradient(135deg, #d4af37, #f1d87a);
color: #071a12;
font-weight: bold;
cursor: pointer;
transition: 0.2s;
}

button:hover {
background: #d4af37;
}

/* LOGOUT */
.logout {
width: auto;
background: #7a2c2c;
color: #f5b5b5;
padding: 8px 15px;
}

/* HISTORY */
#historyList {
list-style: none;
margin-top: 10px;
}

#historyList li {
display: flex;
justify-content: space-between;
padding: 10px;
border-bottom: 1px solid rgba(212,175,55,0.15);
}

/* TRANSACTION COLORS */
.deposit {
color: #d4af37;
font-weight: bold;
}

.transfer {
color: #f87171;
font-weight: bold;
}
