/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* BODY */
body {
  background: #f4f7fb;
  padding: 20px;
}

/* CONTAINER */
.container {
  max-width: 800px;
  margin: auto;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* WELCOME */
#welcome {
  color: #1e3a8a;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}

/* BALANCE CARD (SPECIAL) */
.balance-card {
  background: linear-gradient(135deg, #2563eb, #16a34a);
  color: white;
}

.balance-card h3 {
  color: #e0f2fe;
}

#balance {
  font-size: 28px;
  font-weight: bold;
}

/* INPUTS */
input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* BUTTONS */
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #1d4ed8;
}

/* LOGOUT */
.logout {
  width: auto;
  background: #dc2626;
  padding: 8px 15px;
}

/* HISTORY */
#historyList {
  list-style: none;
  margin-top: 10px;
}

#historyList li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

/* TRANSACTION COLORS */
.deposit {
  color: #16a34a;
  font-weight: bold;
}

.transfer {
  color: #dc2626;
  font-weight: bold;
}